accountId: 1234567890 # Your account id
stage: dev
region: us-east-1
local:
  dynamodb:
    port: 8000
  s3:
    port: 4567
capacities:
  users:
    read:
      default: 5
      minimum: 2
      maximum: 30
      usage: 0.7
    write:
      default: 5
      minimum: 2
      maximum: 30
      usage: 0.7
